@charset "UTF-8";

body {
	font-family: helvetica, serif;
}

nav {
	background-color: #ddd;
	width: 26.5%;
	text-decoration: none;
}

nav ul {
	margin: 20px;
	padding: 20px;
	text-decoration: none;
}

nav ul li {
	padding-right: 10px;
	text-decoration: none;
	display: block;
	float: left;
}

nav ul li a {
	color: #000;
	text-decoration: none;
	border-right: #000 solid 1px;
	padding-right: 10px;
}

.container {
	background-color: #ddd;
	width: 30%;
	padding: 10px 10px 0px 10px;
}

h1.title {
	padding: 10px 10px 10px 0px;
}

h1, h2, h3 p {
	padding: 0;
	margin: 0;
}

h1, h2 {
	font-weight: normal;
	color: #000;
}

h2 {
	padding-top: 1em;
}

h3 {
	padding-top: 0.6em;
} 

p.searchResults {
	color: #666;
}

p.searchResults span {
	color: red;
	font-weight: bold;
}

div.keepOpen {
	clear: both;
}

fieldset {
	background-color: #eee;
	border-radius: 0em;
	margin: 1.5em 0;
	border: #917a56 solid 1px;
	width: 25%;
}

legend {
	color: #000;
	margin-left: 6%;
	padding: .2em .5em;
	border: #917a56 solid 1px;
	background-color: #ddd;
	border-radius: 0em;
	width: 80%;
	font-size: 1.2em;
}

label {
	display: block;
	margin: .5em;
}

label p {
	margin: 0;
	font-size: .9em;
	color: #666;
	padding-top: .9em;
	padding-bottom: .2em;
}

label span {
	font-size: .8em;
	color: #666;
}

input.submitBtn {
	display: block;
	padding: .5em;
	color: #fff;
	width: 25%;
	border-radius: 0px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	border: 1px solid #333;
	background-color: #4C6CA0;
}

input.year {
	width: 40px;
	text-decoration: none;
}

footer {
	color: #000;
	background-color: #ddd;
	width: 26.5%;
	text-decoration: none;
}

footer ul {
	margin: 20px;
	padding: 25px;
	text-decoration: none;
}

footer ul li {
	color: #000;
	padding-right: 10px;
	margin-bottom:25px;
	text-decoration: none;
	display: block;
	float: left;
}

footer ul li a {
	color: #000;
	text-decoration: none;
	border-right: #000 solid 1px;
	padding-right: 10px;
}



