@charset "UTF-8";

body {
	font-family: 'Roboto', sans-serif;
	background-image: url("mexico.jpg");
	background-repeat: no-repeat;
    background-size: 100%;
}

nav {
	background-color: #ddd;
	width: 26.5%;
	text-decoration: none;
}

.message span {
	float: left;
}

nav ul {
	margin: 20px;
	padding: 20px;
	text-decoration: none;
}

nav ul li {
	padding-right: 10px;
	text-decoration: none;
	display: block;
	float: left;
}

nav ul li a {
	color: #000;
	text-decoration: none;
	border-right: #000 solid 1px;
	padding-right: 10px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	color: #242f40;
}

form {
	float: left;
	margin: 20px;
}

fieldset {
	background-color: #242f40;
	color: #fff;
	border-radius: 0em;
	margin: 1.5em 0;
	border: #000 solid 1px;
	max-width: 400px	
}

legend {
	color: #fff;
	margin-left: 6%;
	padding-right: 30px;
	border: #000 solid 1px;
	background-color: #cca436;
	border-radius: 0em;
	width: 50%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
}

label span {
	font-size: .8em;
	color: #fff;
}

input.submitBtn {
	display: block;
	padding: .5em;
	margin: 10px 0 0 0;
	color: #fff;
	width: 100%;
	border-radius: 0px;
	background-color: #242f40;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

footer {
	color: #000;
	background-color: #ddd;
	width: 26.5%;
	text-decoration: none;
}

footer ul {
	margin: 20px;
	padding: 25px;
	text-decoration: none;
}

footer ul li {
	color: #000;
	padding-right: 10px;
	margin-bottom:25px;
	text-decoration: none;
	display: block;
	float: left;
}

footer ul li a {
	color: #000;
	text-decoration: none;
	border-right: #000 solid 1px;
	padding-right: 10px;
}

